@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-family-oi: 'Oi', serif;
  --font-family-kirang-haerang: 'Kirang Haerang', cursive;
}

html {
  scroll-behavior: smooth;
}